@{
    ViewBag.Title = "Index";
}

<div>

    <h2>@ViewBag.Fecha <br />  @ViewBag.Hora</h2>
   
</div>

@section Izq
    {

    <p>
        El Teatro Colón de Buenos Aires es una de las salas de ópera más importantes del mundo. Su rico y prestigioso
        historial y las excepcionales condiciones acústicas y arquitectónicas de su edificio lo colocan al nivel de teatros
        como la Scala de Milán, la Ópera de París, la Ópera de Viena, el Covent Garden de Londres y el Metropolitan de Nueva
        York.
    </p>

    <p>
        En su primera sede, el Teatro Colón funcionó desde 1857 hasta 1888, año en que fue cerrado para la construcción
        de una nueva sala. Ésta fue inaugurada el 25 de mayo de 1908 con una función de Aida. En sus inicios, el Colón
        contrataba para sus temporadas a compañías extranjeras; a partir de 1925 contó con sus propios cuerpos estables
        –Orquesta, Ballet y Coro- y sus propios talleres de producción, lo cual le permitió, ya en la década de 1930,
        organizar sus propias temporadas financiadas por el presupuesto de la ciudad. Desde entonces, el Teatro Colón
        ha quedado definido como un teatro de temporada o stagione con capacidad para realizar íntegramente la totalidad de una
        producción gracias al profesionalismo de sus cuerpos escenotécnicos especializados.
    </p>
}

@section Der
    {
    <div id="img1">
        <img src="../images/interior1.jpg" height="30" />
    </div>
    <div id="img2">
    <img src="../images/interior2.jpg" height="50" />
    </div>
    <div id="img3">
        <img src="../images/interior3.jpg" height="50" />
    </div>
}

